@(items: Seq[controllers.BlogListViewItem])

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog List</title>
  </head>
  <body>
    <h1>Posts</h1>
    <ul>
      @for(item <- items) {
        <li>
          <a href="/blog/@item.id">
            @if(item.title.nonEmpty) { @item.title } else { (untitled) }
          </a>
          <span>
            @item.displayDate
          </span>
        </li>
      }
    </ul>
  </body>
</html>
